@import "../modules/_vars.scss";

.contact {
  padding: 40px;
  .contact-col {
    padding: 30px;
    text-align: center;
    border: 1px solid rgba($grey,0.35);
    border-width: 0 0 1px 0;
    &:last-of-type {
      border: 0;
    }
  }
  .col-title {
    color: $dark;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-family: $body-font;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
  }
  .col-text {
    font-size: 1.25rem;
    letter-spacing: 0.5px;
    color: $dark-blue;
  }
  .social-link {
    margin-right: 20px;
    &:last-of-type {
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 80px 0;
    .contact-col {
      border-width: 0 1px 0 0;
    }
  }
}
